@import 'base';
.main {
    .lists {
        width: 380px;
        background: #383836;
        @include top-bottom;
        left: 0;
        .list-title {
            width: 100%;
            height: 44px;
            border-bottom: 1px solid #1a1a1a;
            position: relative;
            .logo {
                width: 56px;
                height: 16px;
                position: absolute;
                left: 12px;
                top: 14px;
                background: url("../img/packed-5.png");
                background-repeat: no-repeat;
                background-position: 0 -588px;
            }
            .tip {
                position: absolute;
                left: 74px;
                top: 0;
                line-height: 44px;
                font-size: 21px;
                color: #999;
                &:hover {
                    color: #ccc;
                }
            }
            .plus {
                position: absolute;
                top: 10px;
                right: 12px;
                @include cube(23px);
                background-image: url("../img/packed-5.png");
                background-repeat: no-repeat;
                background-position: -23px -526px;
                cursor: pointer;
            }
        }
        .plan {
            width: 100%;
            height: 44px;
            padding-left: 54px;
            border-bottom: 1px solid #1a1a1a;
            line-height: 44px;
            font-size: 17px;
            color: #fff;
            position: relative;
            span {
                position: absolute;
                left: 10px;
                top: 2px;
                width: 40px;
                height: 40px;
                background-image: url("../img/packed-5.png");
                background-position: 0 -359px;
                background-repeat: no-repeat;
            }
        }
        .plus-list {
            .plans {
                line-height: 44px;
                height: 44px;
                padding-left: 54px;
                font-size: 17px;
                color: #fff;
                position: relative;
                &.active {
                    background: rgb(45,45,43);
                    overflow: hidden;
                }
                input {
                    display: inline;
                    font-size: 17px;
                    color: #fff;
                }
                .xian {
                    width: 85%;
                    height: 2px;
                    position: absolute;
                    bottom: -2px;
                    right: 0;
                    background: url("../img/packed-1.png");
                }
                .list-color {
                    @include cube(17px);
                    position: absolute;
                    left: 22px;
                    top: 15px;
                    background-repeat: no-repeat;
                    background-image: url("../img/packed-5.png");
                    &.green {
                        background-position: -85px -571px;
                    }
                    &.yellow {
                        background-position: -34px -571px;
                    }
                    &.blue {
                        background-position: -68px -571px;
                    }
                    &.orange {
                        background-position: -51px -571px;
                    }
                    &.purple {
                        background-position: -17px -571px;
                    }
                    &.brow {
                        background-position: -133px -549px;
                    }
                    &.pink {
                        background-position: -102px -571px;
                    }
                }
            }
        }
    }
}
.main .content {
    position: absolute;
    left: 380px;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: url("../img/packed-4.png");
    .search {
        height: 44px;
        border-bottom: 1px solid rgba(128,128,128,0.35);
        margin-bottom: 25px;
        .search-left {
            float: left;
            width: 50%;
            height: 44px;
            line-height: 44px;
            font-size: 18px;
            color: #bbb;
            padding-left: 45px;
            position: relative;
            .search-icon {
                @include cube(24px);
                background: url(../img/packed-5.png)no-repeat -138px -359px;
                position: absolute;
                top: 11px;
                left: 15px;
            }
        }
        .search-right {
            float: right;
            width: 50%;
            height: 44px;
        }
    }
    $color-list: ( 'green':#49bf1f, 'yellow':#e0ac00, 'blue':#1badf8, 'orange':#ff7f00, 'purple':#b14bc9, 'brow':#a2845e, 'pink':#ff2968, );
    @each $i in map_keys($color-list) {
        .content-inner.#{$i} {
            color: map_get($color-list,$i);
        }
        .content-inner .show-skin .contents input.#{$i} {
            color: map_get($color-list,$i);
        }
        .finish .newlist.#{$i} {
            color: map_get($color-list,$i);
        }
        .content-inner .item-list .item.#{$i} {
            input {
                color: map_get($color-list,$i);
            }
        }
    }
    .content-inner {
        width: 100%;
        height: auto;
        .title {
            position: relative;
            height: 48px;
            .s-title {
                font-size: 40px;
                line-height: 1.2;
                padding-left: 28px;
                float: left;
            }
            .xuanxiang {
                float: right;
                font-size: 19px;
                cursor: pointer;
                margin-right: 20px;
                margin-top: 19px;
            }
        }
        .show-skin {
            width: 355px;
            height: 226px;
            position: absolute;
            top: -45px;
            right: 55px;
            z-index: 10;
            background: #fff;
            &::before {
                content: '';
                display: block;
                position: absolute;
                left: -4px;
                top: -4px;
                padding: 4px;
                height: 100%;
                width: 100%;
                border-radius: 8px;
                background: white;
                box-shadow: 0 0 15px rgba(0,0,0,0.15),0px 0 1px 1px rgba(0,0,0,0.1);
            }
            .contents {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 20px 0 0 20px;
                input {
                    width: 314px;
                    height: 42px;
                    padding-left: 13px;
                    font-size: 25px;
                    border: 1px solid #ccc;
                }
                p {
                    line-height: 55px;
                    color: #000;
                    padding-left: 3px;
                }
                .color-list {
                    height: 48px;
                    border-bottom: 1px solid #ccc;
                    li.green {
                        background: url(../img/stylesheet-1.png)no-repeat;
                        background-position: 0 -33px;
                        background-repeat: no-repeat;
                    }
                    li.yellow {
                        background: url(../img/stylesheet-1.png)no-repeat;
                        background-position: 0 -99px;
                        background-repeat: no-repeat;
                    }
                    li.blue {
                        background: url(../img/stylesheet-1.png)no-repeat;
                        background-position: 0 -66px;
                        background-repeat: no-repeat;
                    }
                    li.orange {
                        background: url(../img/stylesheet-1.png)no-repeat;
                        background-position: 0 -198px;
                        background-repeat: no-repeat;
                    }
                    li.purple {
                        background: url(../img/stylesheet-1.png)no-repeat;
                        background-position: 0 -0px;
                        background-repeat: no-repeat;
                    }
                    li.brow {
                        background: url(../img/stylesheet-1.png)no-repeat;
                        background-position: 0 -132px;
                        background-repeat: no-repeat;
                    }
                    li.pink {
                        background: url(../img/stylesheet-1.png)no-repeat;
                        background-position: 0 -165px;
                        background-repeat: no-repeat;
                    }
                    li {
                        @include cube(33px);
                        float: left;
                        margin-left: 10px;
                        span {
                            @include cube(25px);
                            margin: 4px 0 0 4px;
                            display: block;
                            background: url(../img/stylesheet-1.png)no-repeat;
                            background-repeat: no-repeat;
                        }
                        span.green {
                            background-position: 0 -256px;
                        }
                        span.yellow {
                            background-position: 0 -306px;
                        }
                        span.blue {
                            background-position: 0 -281px;
                        }
                        span.orange {
                            background-position: 0 -381px;
                        }
                        span.purple {
                            background-position: 0 -231px;
                        }
                        span.brow {
                            background-position: 0 -331px;
                        }
                        span.pink {
                            background-position: 0 -356px;
                        }
                    }
                    li:first-child {
                        margin-left: 0;
                    }
                }
            }
            .delete {
                font-size: 18px;
                color: red;
                position: absolute;
                bottom: 20px;
                left: 20px;
                cursor: pointer;
            }
            .cancel {
                position: absolute;
                left: 65%;
                bottom: 20px;
                font-size: 18px;
                color: blue;
                padding-right: 20px;
                border-right: 1px solid #ccc;
                cursor: pointer;
            }
            .wancheng {
                position: absolute;
                right: 10px;
                bottom: 20px;
                font-size: 18px;
                color: blue;
                font-weight: bolder;
                cursor: pointer;
            }
        }
    }
    .finish {
        padding: 6px 0 0;
        position: relative;
        .xian {
            height: 2px;
            width: 98%;
            position: absolute;
            top: 2px;
            right: 0;
            background: url("../img/packed-3.png");
        }
        .iswan {
            height: 52px;
            line-height: 52px;
            color: #aaa;
            font-size: 19px;
            padding-left: 58px;
            position: relative;
            border-bottom: 1px solid #d1d1d1;
            span {
                @include cube(23px);
                position: absolute;
                left: 25px;
                top: 14px;
                background: url(../img/packed-5.png)no-repeat -92px -526px;
            }
            span.active {
                background: url(../img/packed-5.png)no-repeat -69px -526px;
            }
        }
        .item-list {
            .item {
                height: 52px;
                line-height: 52px;
                font-size: 19px;
                padding-left: 58px;
                position: relative;
                border-bottom: 1px solid #d1d1d1;
                input {
                    width: 80%;
                    height: 100%;
                    font-size: 18px;
                    line-height: 52px;
                }
                .control {
                    width: 32px;
                    height: 32px;
                    position: absolute;
                    top: 10px;
                    left: 21px;
                    display: block;
                }
                &.green {
                    .touch {
                        background: url("../img/packed-5.png") -42px -359px;
                    }
                }
                &.yellow {
                    .touch {
                        background: url("../img/packed-5.png") -136px -267px;
                    }
                }
                &.blue {
                    .touch {
                        background: url("../img/packed-5.png") -136px -167px;
                    }
                    &.orange {
                        .touch {
                            background: url(../img/packed-5.png)0 -433px;
                        }
                    }
                    &.purple {
                        .touch {
                            background: url(../img/packed-5.png)-64px -465px;
                        }
                    }
                    &.brow {
                        .touch {
                            background: url(../img/packed-5.png)-96px -433px;
                        }
                    }
                    &.pink {
                        .touch {
                            background: url(../img/packed-5.png)-128px -401px;
                        }
                    }
                }
            }
        }
        .newlist {
            height: 52px;
            line-height: 52px;
            color: #aaa;
            font-size: 19px;
            padding-left: 58px;
            position: relative;
            .xians {
                height: 2px;
                width: 98%;
                position: absolute;
                bottom: 0;
                right: 0;
                background: url("../img/packed-3.png");
            }
        }
    }
}